<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrksRecipeDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrksRecipeDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <TrksRecipeDoc.Properties.Settings>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WikiSpaceName" serializeAs="String">
                <value />
            </setting>
        </TrksRecipeDoc.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TrksRecipeDoc.Properties.Settings>
            <setting name="TrksRecipeDoc_WikiSpaces_Session_SessionService"
                serializeAs="String">
                <value>http://trksrecipedoc.wikispaces.com/site/api</value>
            </setting>
            <setting name="TrksRecipeDoc_WikiSpaces_User_UserService" serializeAs="String">
                <value>http://trksrecipedoc.wikispaces.com/user/api</value>
            </setting>
            <setting name="TrksRecipeDoc_WikiSpaces_Space_SpaceService" serializeAs="String">
                <value>http://trksrecipedoc.wikispaces.com/space/api</value>
            </setting>
            <setting name="TrksRecipeDoc_WikiSpaces_Page_PageService" serializeAs="String">
                <value>http://trksrecipedoc.wikispaces.com/page/api</value>
            </setting>
            <setting name="TrksRecipeDoc_WikiSpaces_Tag_TagService" serializeAs="String">
                <value>http://trksrecipedoc.wikispaces.com/tag/api</value>
            </setting>
            <setting name="TrksRecipeDoc_WikiSpaces_Message_MessageService"
                serializeAs="String">
                <value>http://trksrecipedoc.wikispaces.com/message/api</value>
            </setting>
        </TrksRecipeDoc.Properties.Settings>
    </applicationSettings>
</configuration>